#authorCss {
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#authorCss > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#authorCss > ul > li {
    margin: 25px 25px;
}

#authorCss > ul > li > a {
    color: orange;
    font-size: 20px;
}

#copyright {
    margin-top: 7em;
}