#authorCss {
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#authorCss > ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#authorCss > ul > li {
    margin: 25px 25px;
}

#authorCss > ul > li > a {
    color: orange;
    font-size: 20px;
}

#copyright {
    margin-top: 8.5em;
}

/* for mobile */
@media only screen and (max-width: 768px) {
    h1 {
        margin-top: 1em !important;
    }

    #authorCss {
        margin-top: 1em;
        width: 80%;
    }

    #authorCss > ul >li {
        margin: 18px;
    }

    #authorCss > ul > li > a {
        font-size: 18px;
    }

    #copyright {
        margin-top: 7.5rem;
        margin-bottom: 1rem;
    }
}