#shivaTrilogy, #ramChandraSeries, #bharatSeries {
    font-size: 25px;
    border: 2px solid brown;
    background-color: brown;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
}

#shivaTrilogy > a, #ramChandraSeries > a, #bharatSeries > a {
    display: block;
    text-decoration: none;
    color: #fff;
}

#shivaTrilogy:hover, #ramChandraSeries:hover, #bharatSeries:hover {
    background-color: #9c411d;
    border-color: #9c411d;
    border-radius: 10px;
    text-decoration: underline;
}

#shivaTrilogy > a:hover, #ramChandraSeries > a:hover, #bharatSeries > a:hover {
    text-decoration: underline;
}