*, body {
    margin: 0;
    padding: 0;
}

body {
    background: url(/Images/bg2.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #126252;
}

::-webkit-scrollbar-thumb {
    background: #124252;
}

::-webkit-scrollbar-thumb:hover {
    background: #123252;
}

#home {
    left: 94%;
    margin-top: 10px;
    position: relative;
    background-color: burlywood;
    color: #124578;
    font-size: 20px;
    padding: 10px;
    border: 1px solid burlywood;
    cursor: pointer;
    border-radius: 7px;
}

#home:hover {
    text-decoration: underline;
    background-color: #124578;
    color: burlywood;
    border: 1px solid #124578;
    border-radius: 12px;
}

h1 {
    /* font-family: sans-serif; */
    text-align: center;
    font-size: 44px;
    text-decoration: underline;
    margin-top: 15px;
    color: #601e04;
}

article {
    margin: 40px 75px;
    font-family: Arial, Helvetica, sans-serif;
    color: #126252;
}

article > p {
    font-size: 20px;
}

article > ul > li {
    margin-top: 10px;
    margin-left: 22px;
    font-weight: 900;
    font-size: 20px;
    color: #124578;
}

article > ul > dt {
    margin-top: 5px;
    margin-left: 23px;
    font-size: 20px;
}

article > ul > ul > li {
    margin-top: 10px;
    margin-left: 43px;
    font-size: 20px;
}

.line-height {
    line-height: 30px;
}

#copyright {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 1em;
    font-size: 25px;
    color: #000;
}


/* for mobile */
@media only screen and (max-width: 768px) {
    body {
        height: 100%;
    }
    
    #home {
        left: 2%;
    }

    h1 {
        font-size: 32px;
        margin: 0 15px;
        margin-top: 1rem;
    }

    article {
        margin: 40px 50px;
    }

    article > p {
        font-size: 18px;
        text-align: justify;
    }

    article > ul > li {
        font-size: 18px;
    }

    article > ul > dt {
        font-size: 18px;
    }

    article > ul > ul > li {
        font-size: 18px;
    }

    .line-height {
        line-height: 27px;
    }

    #copyright {
        font-size: 20px;
    }
}