#harperCollins, #wonderHouseBooks {
    font-size: 25px;
    border: 2px solid brown;
    background-color: brown;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
}

#harperCollins > a, #wonderHouseBooks > a {
    display: block;
    text-decoration: none;
    color: #fff;
}

#harperCollins:hover, #wonderHouseBooks:hover {
    background-color: #9c411d;
    border-color: #9c411d;
    border-radius: 10px;
    text-decoration: underline;
}

#harperCollins > a:hover, #wonderHouseBooks > a:hover {
    text-decoration: underline;
}