body {
    background: url(/Images/bg2.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}

#shivaTrilogyH1 {
    margin-top: 1rem;
    color: #601e04;
}

.width-500 {
    padding: 50px;
    width: 85%;
    margin: 0 auto;
    color: #124578;
    font-size: 22px;
    line-height: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-align: justify;
}

#flex {
    margin-top: 0;
}

#copyright {
    margin-top: 3em;
    margin-bottom: 1.5em;
    color: #000;
}


/* for mobile */
@media only screen and (max-width: 768px) {
    .width-500 {
        padding: 40px;
        font-size: 20px;
        line-height: 27px;
    }
}