::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #126252;
}

::-webkit-scrollbar-thumb {
    background: #124252;
}

::-webkit-scrollbar-thumb:hover {
    background: #123252;
}

#home {
    left: 94%;
    margin-top: 10px;
}

#prev {
    left: 90%;
    margin-top: 2em;
}

#home, #prev {
    position: relative;
    background-color: burlywood;
    color: #124578;
    font-size: 20px;
    padding: 10px;
    border: 1px solid burlywood;
    cursor: pointer;
    border-radius: 7px;
}

#home:hover, #prev:hover {
    text-decoration: underline;
    background-color: #124578;
    color: burlywood;
    border: 1px solid #124578;
    border-radius: 12px;
}

h1 {
    text-decoration: underline;
}

article > .margin-top {
    margin-top: 2rem;
}


/* for mobile */
@media only screen and (max-width: 768px) {
    #home {
        left: 2%;
    }
}